.header {
 position: fixed;
 width: 100%;
 z-index: 999;

&__content{
    padding: 20px 50px  20px 50px;
    height: 50px;
    max-width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
    &__logo {
        width: 50px;
        height: 30px;
    }

    &__wrapper{
        display: flex;
        align-items: center;
    }

    &__heading {
        a{
            font-size: 20px;
            color: #FBD214;
            font-family: adobe-handwriting-ernie, sans-serif;
            font-style: normal;
            font-weight: 600;
            padding-left: 20px;
            cursor: pointer;
            &:hover {
                color: #FFFFFF;
                transition: 0.3s;
            }
        }
       
    }

    .pc--view{
		display: block;
	}
	.sp--view{
		display: none;
	}
}

.nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 500px;
    }

    &__item {

        
        a {
            font-size: 14px;
            color: #FFFFFF;
            font-family: lato, sans-serif;
            font-style: normal;
            font-weight: 100;

            &:hover {
                color: #FBD214;
                transition: 0.3s;
            }
            &.active{
                background-color: red;
            }
        }
    }
    &__link {
        border: 2px solid #FBD214;
        border-radius: 5px;
        font-family: Poppins, sans-serif;
        padding: 10px;
        color: #FBD214;
        cursor: pointer;

        &:hover {
            background-color: rgba(251, 210, 20, 0.2);
            color: white;
        }
    }

    &__wrapper{
        display: flex;
        align-items: center;
    }
    

    &__hamburger{
        display: none;
    }

    .active{
        color: red;
    }

    
}

@media screen and (max-width: 768px) {

    .header {
        position: fixed;
        width: 100%;
        z-index: 999;
        background-color: black;
       
       &__content{
           height: 13.021vw;
           padding: 0 20px 0 20px;
           display: flex;
           justify-content: space-between;
           align-items: center;
           z-index: 0;
           margin: auto;
       }

       &__logo{
        width: 9.115vw;
        height: 5.208vw;
       }

      
        &__heading{
            a{
                font-size: 3.906vw;
                color: #FBD214;
                padding-left: 2.604vw;
            }
          
           
        }
        .pc--view{
            display: none;
        }
        .sp--view{
            display: block;
        }
    }

    .nav{
      width: auto;
        &__list{
            height: auto;
            background-color: black;
            display: flex;
            flex-direction: column;
            z-index: 10;
            width: 100%;
            left: 0;
            
        }

        &__item{
           text-align: center;
           padding: 2.604vw;
           a{
            font-size: 3.255vw;
           }
        }
        &__wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            display: none;
            position: absolute;
            width: 100%;
            left: 0;
            top:13.021vw;
        }

        &__hamburger{
            display: block;
            color: #FBD214;
            font-size: 5.208vw;
        }
    }

}

