.page p, .page span, .page a, .page h2, .page h3 {
  line-height: 1.5;
}

.page a {
  display: block;
  -webkit-transition: all .3s ease-in 0s;
  transition: all .3s ease-in 0s;
}

.page a:hover {
  opacity: 0.6;
}

.page img {
  max-width: 100%;
  height: auto;
}

.page div, .page span, .page applet, .page object, .page iframe,
.page h1, .page h2, .page h3, .page h4, .page h5, .page h6, .page p,
.page blockquote, .page pre, .page a, .page abbr, .page acronym, .page address,
.page big, .page cite, .page code, .page del, .page dfn, .page em, .page img, .page ins, .page kbd, .page q, .page s, .page samp, .page small, .page strike, .page strong, .page sub, .page sup, .page tt, .page var, .page b, .page u, .page i, .page center,
.page dl, .page dt, .page dd, .page ol, .page ul, .page li,
.page fieldset, .page form, .page label, .page legend,
.page table, .page caption, .page tbody, .page tfoot, .page thead, .page tr, .page th, .page td,
.page article, .page aside, .page canvas, .page details, .page embed, .page figure, .page figcaption, .page footer, .page header, .page hgroup,
.page menu, .page nav, .page output, .page ruby, .page section, .page summary, .page time, .page mark, .page audio, .page video, .page picture {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page article, .page aside, .page details, .page figcaption, .page figure, .page footer, .page header, .page hgroup, .page menu, .page section, .page summary, .page picture {
  display: block;
}

.page *, .page *:before, .page *:after {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.page button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.l-wrap {
  overflow: initial;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 769px) {
  .view--pc {
    display: block;
  }
  .view--sp {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .view--pc {
    display: none;
  }
  .view--sp {
    display: block;
  }
}

.nav {
  max-width: 1600px;
  width: 100%;
  height: auto;
  padding: 2%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  z-index: 999;
  right: 50%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  /* Style for the close button (X) */
}

@media screen and (max-width: 768px) {
  .nav {
    max-width: 100%;
    padding: 2.6vw;
  }
}

.nav__logo {
  max-width: 10%;
  width: 100%;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .nav__logo {
    max-width: 15%;
  }
}

@media screen and (max-width: 768px) {
  .nav__logo {
    max-width: 13vw;
    position: relative;
    z-index: 2;
  }
}

.nav.scrolled {
  background-color: #000;
  padding: 1%;
  /* background color when scrolled */
}

@media screen and (max-width: 768px) {
  .nav.scrolled {
    position: fixed;
  }
}

.nav.show {
  position: fixed;
  height: 100%;
  background-color: transparent;
  /* Show the list when the .show class is added */
}

.nav .hamburger {
  display: none;
  /* Hide by default on desktop */
  background: none;
  border: none;
  font-size: 20px;
  color: #FBD214;
}

@media screen and (max-width: 768px) {
  .nav .hamburger {
    display: block;
    position: absolute;
    z-index: 9999;
    font-size: 7.8vw;
    top: 1.3vw;
    right: 1.3vw;
  }
}

@media screen and (max-width: 768px) {
  .nav .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .nav__list {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* Hide the list on mobile by default */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    /* Change to fixed for fullscreen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 17, 33, 0.94);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 0;
    /* Ensure the menu is above other content */
    overflow-y: auto;
    /* Add scrollbar if content exceeds viewport height */
  }
}

.nav__list li {
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .nav__list li {
    font-size: 1.953vw;
  }
}

@media screen and (max-width: 768px) {
  .nav__list li {
    padding: 0;
    margin-bottom: 5.2vw;
  }
}

.nav__list li a {
  font-size: 20px;
  color: #FBD214;
}

@media screen and (max-width: 768px) {
  .nav__list li a {
    font-size: 5.2vw;
    margin: auto;
    text-align: left;
  }
}

.nav__list li a.active {
  color: #f0fff0;
  /* change color when active */
  font-weight: 600;
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .nav__list li a.active {
    font-size: 6.5vw;
  }
}

.nav__list.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Show the list when the .show class is added */
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

.page {
  overflow: hidden;
  background: #fff;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #000;
}

.page__inner {
  margin: auto;
  max-width: 980px;
  position: relative;
  z-index: 999;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .page__inner {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .page__inner {
    width: 89.6vw;
  }
}

.page .loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #000;
}

.page .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 250px;
}

.page .btn {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: white;
  border: none;
  background-image: url("../img/icons/TOP-YELLOW.svg");
  background-color: #000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .page .btn {
    width: 10.4vw;
    height: 10.4vw;
    right: 1.3vw;
    bottom: 2.6vw;
  }
}

.page .btn:hover {
  opacity: 0.5;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  /* Move the button 5 pixels up when hovered */
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  /* Smooth transition for the movement */
}

.page .btn:not(:hover) {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  /* Return the button to its original position */
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  /* Smooth transition when returning to normal */
}

.page #scroll-down {
  max-width: 100%;
  width: 100%;
}

.page #scroll-down a {
  padding-top: 132px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(50%, 0);
  transform: translate(-50%, 0);
  font-size: 30px;
  color: #FBD214;
}

@media screen and (max-width: 768px) {
  .page #scroll-down a {
    bottom: 0;
    padding-top: 17.2vw;
    font-size: 3.9vw;
  }
}

.page #scroll-down a span {
  position: absolute;
  top: 0;
  left: 22%;
  width: 50px;
  height: 50px;
  border-left: 3px solid #FBD214;
  border-bottom: 3px solid #FBD214;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .page #scroll-down a span {
    width: 6.5vw;
    height: 6.5vw;
    border-left: 0.4vw solid #FBD214;
    border-bottom: 0.4vw solid #FBD214;
  }
}

.page #scroll-down a span:nth-of-type(1) {
  top: 0;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.page #scroll-down a span:nth-of-type(2) {
  top: 30px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}

@media screen and (max-width: 768px) {
  .page #scroll-down a span:nth-of-type(2) {
    top: 3.9vw;
  }
}

.page #scroll-down a span:nth-of-type(3) {
  top: 60px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

@media screen and (max-width: 768px) {
  .page #scroll-down a span:nth-of-type(3) {
    top: 7.8vw;
  }
}

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.page .banner {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
}

.page .banner__wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .page .banner__wrapper {
    padding: 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .page .banner__wrapper {
    padding-top: 12.4vw;
    max-width: 89.6vw;
    margin: auto;
  }
}

.page .banner__intro {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  .page .banner__intro {
    width: 100%;
  }
}

.page .banner__heading {
  font-size: 80px;
  font-weight: 700;
  color: white;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .page .banner__heading {
    font-size: 7.813vw;
  }
}

@media screen and (max-width: 768px) {
  .page .banner__heading {
    font-size: 10.4vw;
  }
}

.page .banner__heading-sub {
  font-size: 18px;
  font-weight: 700;
  color: #FBD214;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .page .banner__heading-sub {
    font-size: 5.3vw;
    margin-bottom: 5.2vw;
  }
}

.page .banner__text {
  color: #f0fff0;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 50px;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .page .banner__text {
    font-size: 7.813vw;
  }
}

@media screen and (max-width: 768px) {
  .page .banner__text {
    font-size: 7.8vw;
    margin-bottom: 7.8vw;
  }
}

.page .banner__description {
  color: #f0fff0;
  font-size: 22px;
  font-family: "PT Sans", sans-serif;
  margin-bottom: 50px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .page .banner__description {
    font-size: 3.3vw;
    margin-bottom: 7.2vw;
  }
}

.page .banner__link {
  border: 2px solid #FBD214;
  border-radius: 10px;
  padding: 20px;
  color: #FBD214;
}

@media screen and (max-width: 768px) {
  .page .banner__link {
    border: 0.5vw solid #FBD214;
    border-radius: 2.6vw;
    padding: 3.9vw;
    font-size: 2.6vw;
  }
}

.page .banner__link:hover {
  background-color: rgba(251, 210, 20, 0.2);
  color: white;
}

.page .banner-scroll {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 10%;
  right: 70px;
  -webkit-animation-name: fadein;
          animation-name: fadein;
  color: red;
  cursor: pointer;
}

.page .banner-scroll__item {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  -webkit-transform: scale3d(1, 0.5, 0.5);
          transform: scale3d(1, 0.5, 0.5);
  -webkit-animation: move 3s ease-out infinite;
          animation: move 3s ease-out infinite;
}

.page .banner-scroll__item:first-child {
  -webkit-animation: move 3s ease-out 1s infinite;
          animation: move 3s ease-out 1s infinite;
}

.page .banner-scroll__item:nth-child(2) {
  -webkit-animation: move 3s ease-out 2s infinite;
          animation: move 3s ease-out 2s infinite;
}

.page .banner-scroll__item::before {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
  left: 0;
  -webkit-transform: skew(0deg, 30deg);
          transform: skew(0deg, 30deg);
}

.page .banner-scroll__item::after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
  right: 0;
  width: 50%;
  -webkit-transform: skew(0deg, -30deg);
          transform: skew(0deg, -30deg);
}

.page .about {
  padding-top: 150px;
}

@media screen and (max-width: 768px) {
  .page .about {
    padding-top: 13vw;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .page .about {
    padding: 10% 40px 0;
  }
}

.page .about__wrapper {
  margin: auto;
  max-width: 1000px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .page .about__wrapper {
    max-width: 89.6vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page .about__left {
  max-width: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  .page .about__left {
    max-width: 89.6vw;
    width: 100%;
    margin-top: 5.2vw;
  }
}

.page .about__heading {
  color: #FBD214;
  margin-bottom: 35px;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .page .about__heading {
    text-align: center;
    font-size: 10.4vw;
    margin-bottom: 5.2vw;
  }
}

.page .about__heading span {
  font-size: 26px;
  color: #f0fff0;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .page .about__heading span {
    font-size: 4.2vw;
  }
}

.page .about__img {
  width: 450px;
  height: 350px;
  margin: auto;
}

.page .about__text {
  text-align: left;
  font-size: 16px;
  line-height: 1.2;
  color: white;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .page .about__text {
    font-size: 1.563vw;
  }
}

@media screen and (max-width: 768px) {
  .page .about__text {
    font-size: 3.3vw;
    text-align: justify;
  }
}

.page .about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12%;
}

@media screen and (max-width: 768px) {
  .page .about__list {
    margin-top: 5.2vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.page .about-interests__heading {
  font-size: 20px;
  margin-bottom: 4%;
  font-weight: 600;
  color: #FBD214;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .page .about-interests__heading {
    font-size: 1.953vw;
  }
}

@media screen and (max-width: 768px) {
  .page .about-interests__heading {
    font-size: 6.5vw;
    margin-bottom: 3.9vw;
  }
}

.page .about-interests__item {
  margin-bottom: 10px;
  color: white;
}

@media screen and (max-width: 768px) {
  .page .about-interests__item {
    font-size: 4.2vw;
    margin-bottom: 2.6vw;
  }
}

@media screen and (max-width: 768px) {
  .page .about-interests__item p {
    font-size: 4.2vw;
  }
}

.page .about-interests__item::before {
  content: "\f105";
  cursor: pointer;
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  margin-right: 5px;
  color: white;
}

@media screen and (max-width: 768px) {
  .page .about-interests__item::before {
    font-size: 4.2vw;
    margin-right: 1.3vw;
  }
}

.page .about-education__heading {
  font-size: 20px;
  margin-bottom: 15px;
  color: #FBD214;
  font-weight: 600;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .page .about-education__heading {
    font-size: 1.953vw;
  }
}

@media screen and (max-width: 768px) {
  .page .about-education__heading {
    font-size: 5.2vw;
    margin-bottom: 3.9vw;
  }
}

.page .about-education__item {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  color: white;
}

@media screen and (max-width: 768px) {
  .page .about-education__item {
    margin-bottom: 5.2vw;
  }
}

.page .about-education__item h4 {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .page .about-education__item h4 {
    font-size: 4.2vw;
  }
}

.page .about-education__item p {
  font-size: 14px;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .page .about-education__item p {
    font-size: 4.2vw;
  }
}

.page .about-education__item a {
  color: white;
}

@media screen and (max-width: 768px) {
  .page .about-education__item a {
    font-size: 4.2vw;
  }
}

.page .about-education__item::before {
  content: "\f19d";
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .page .about-education__item::before {
    font-size: 5.2vw;
    margin-right: 2.6vw;
  }
}

.page .about-education__link {
  margin-top: 20px;
  -webkit-transition: 2s;
  transition: 2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .page .about-education__link {
    margin-top: 2.6vw;
  }
}

.page .about-education__link::before {
  content: '\f063';
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  color: #FBD214;
  margin-right: 10px;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .page .about-education__link::before {
    font-size: 5.2vw;
    margin-right: 2.6vw;
  }
}

.page .about__figure {
  max-width: 40%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .page .about__figure {
    max-width: 65.1vw;
  }
}

.page .passion {
  padding-top: 150px;
}

@media screen and (max-width: 768px) {
  .page .passion {
    padding-top: 19.5vw;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .page .passion {
    padding: 100px 40px 0;
  }
}

.page .passion__wrapper {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  .page .passion__wrapper {
    max-width: 89.6vw;
  }
}

.page .passion__heading {
  color: #FBD214;
  margin-bottom: 35px;
  font-size: 75px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .page .passion__heading {
    font-size: 10.4vw;
    margin-bottom: 5.2vw;
  }
}

.page .passion__text {
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .page .passion__text {
    font-size: 2.9vw;
    margin-bottom: 7.8vw;
  }
}

.page .passion__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  width: 100%;
  margin-bottom: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .page .passion__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 0;
  }
}

.page .passion__item {
  max-width: 100%;
  width: calc(100% / 2 - 33px);
}

@media screen and (max-width: 768px) {
  .page .passion__item {
    width: 100%;
  }
}

.page .passion__item:first-child {
  margin-right: 50px;
}

@media screen and (max-width: 768px) {
  .page .passion__item:first-child {
    margin-right: 0;
  }
}

.page .passion__item:last-child {
  margin-bottom: 0;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .page .passion__item:last-child {
    margin-top: 0;
  }
}

.page .passion .passion-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page .passion .passion-content__heading {
  font-size: 20px;
  color: #FBD214;
  margin-top: 10px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .page .passion .passion-content__heading {
    font-size: 5.2vw;
    margin-top: 2.6vw;
  }
}

.page .passion .passion-content__text {
  font-size: 16px;
  color: white;
  margin-top: 10px;
  text-align: justify;
  line-height: 1.5;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .page .passion .passion-content__text {
    font-size: 1.563vw;
  }
}

@media screen and (max-width: 768px) {
  .page .passion .passion-content__text {
    font-size: 2.6vw;
    margin-top: 4.6vw;
    max-width: 89.6vw;
    text-align: center;
  }
}

.page .passion .passion-content i {
  font-size: 40px;
  color: white;
}

@media screen and (max-width: 768px) {
  .page .passion .passion-content i {
    font-size: 10.4vw;
  }
}

.page .passion__resume {
  width: 100%;
  height: 100px;
  color: white;
  border-top: 2px solid #FBD214;
  border-bottom: 2px solid #FBD214;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .passion__resume a {
  font-size: 30px;
  color: #FBD214;
}

.page .works {
  padding-top: 150px;
}

@media screen and (max-width: 768px) {
  .page .works {
    padding-top: 13vw;
  }
}

.page .works__heading {
  font-size: 75px;
  font-weight: 700;
  font-style: normal;
  color: #FBD214;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .page .works__heading {
    font-size: 9.8vw;
    margin-bottom: 10.4vw;
  }
}

.page .works__heading span {
  font-size: 16px;
  color: #f0fff0;
}

.page .works-content {
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .page .works-content {
    margin-bottom: 19.5vw;
  }
}

@media screen and (max-width: 768px) {
  .page .works-content02 .works-content__heading {
    max-width: 71.6vw;
  }
}

.page .works-content__heading {
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  text-align: center;
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .page .works-content__heading {
    max-width: 71.6vw;
    width: 100%;
    font-size: 6.5vw;
  }
}

.page .works-content__heading::before {
  content: '';
  display: block;
  width: 70px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
}

@media screen and (max-width: 768px) {
  .page .works-content__heading::before {
    width: 5.2vw;
    height: 0.5vw;
  }
}

.page .works-content__heading::after {
  content: '';
  display: block;
  width: 70px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 50%;
}

@media screen and (max-width: 768px) {
  .page .works-content__heading::after {
    width: 5.2vw;
    height: 0.5vw;
  }
}

.page .works-content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  margin-top: 40px;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .page .works-content__list {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .page .works-content__list {
    max-width: 89.6vw;
    margin-top: 3.9vw;
  }
}

.page .works-content__item {
  max-width: 100%;
  width: calc(100% / 3 - 14px);
  margin-right: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .page .works-content__item {
    max-width: 100%;
    width: calc(100% / 2 - 1.432vw);
    margin-right: 2.6vw;
    margin-bottom: 3.9vw;
  }
}

.page .works-content__item:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .page .works-content__item:nth-child(3n) {
    margin-right: 2.6vw;
  }
}

@media screen and (max-width: 768px) {
  .page .works-content__item:nth-child(2n) {
    margin-right: 0;
  }
}

.page .works-content__item:nth-child(n+4) {
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .page .works-content__item:nth-child(n+4) {
    margin-top: 0;
  }
}

.page .works-content__button {
  width: 150px;
  border-radius: 25px;
  border: 2px solid #FBD214;
  margin: auto;
  cursor: pointer;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .page .works-content__button {
    width: 39.1vw;
    border-radius: 6.5vw;
    border: 0.5vw solid #FBD214;
    margin-top: 6.5vw;
  }
}

.page .works-content__button .more-btn {
  font-size: 16px;
  color: #FBD214;
  font-weight: 700;
  text-align: center;
  padding: 10px 0;
}

@media screen and (max-width: 768px) {
  .page .works-content__button .more-btn {
    padding: 1.3vw 0;
    font-size: 4.2vw;
  }
}

.page .works-content__button .more-btn:hover {
  color: #fff;
}

.page .works-content__button:hover {
  border: 2px solid #fff;
}

@media screen and (max-width: 768px) {
  .page .works-content__button:hover {
    border: 0.5vw solid #fff;
  }
}

.page .works-content .works-content-webapp {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .page .works-content .works-content-webapp {
    padding: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .page .works-content .works-content-webapp {
    max-width: 89.6vw;
    margin-top: 7.8vw;
  }
}

.page .works-content .works-content-webapp__heading {
  font-size: 40px;
  font-weight: 600;
  color: #FBD214;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .page .works-content .works-content-webapp__heading {
    font-size: 5.5vw;
    text-align: center;
    margin-bottom: 2vw;
  }
}

.page .works-content .works-content-webapp__text {
  font-size: 16px;
  color: white;
  text-align: left;
  font-family: "PT Sans", sans-serif;
}

@media screen and (max-width: 768px) {
  .page .works-content .works-content-webapp__text {
    font-size: 2.6vw;
    text-align: center;
  }
}

.page .works-content .works-content-webapp__list {
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .page .works-content .works-content-webapp__list {
    margin-top: 6.5vw;
  }
}

.page .works-content .works-content-webapp__list li .translate-tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .page .works-content .works-content-webapp__list li .translate-tool {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.page .works-content .works-content-webapp__list li .translate-tool__heading {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .page .works-content .works-content-webapp__list li .translate-tool__heading {
    font-size: 5.2vw;
    margin-bottom: 2.6vw;
  }
}

.page .works-content .works-content-webapp__list li .translate-tool__text {
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .page .works-content .works-content-webapp__list li .translate-tool__text {
    font-size: 2.5vw;
  }
}

.page .works-content .works-content-webapp__list li .translate-tool__info {
  max-width: 300px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .page .works-content .works-content-webapp__list li .translate-tool__info {
    max-width: 100%;
    margin-top: 3.9vw;
  }
}

.page .works-content .works-content-webapp__list li .translate-tool__video {
  max-width: 600px;
  width: 100%;
  margin-left: 10%;
  margin-right: 0;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .page .works-content .works-content-webapp__list li .translate-tool__video {
    max-width: 78.1vw;
    margin: 0;
    margin: auto;
  }
}

.page .works-content .works-content-webapp__list li .translate-tool--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  .page .works-content .works-content-webapp__list li .translate-tool--reverse {
    margin-top: 6.5vw;
    padding-top: 6.5vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    border-top: 0.3vw solid #fff;
  }
}

.page .works-content .works-content-webapp__list li .translate-tool--reverse .translate-tool__video {
  margin-right: 10%;
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .page .works-content .works-content-webapp__list li .translate-tool--reverse .translate-tool__video {
    margin: auto;
  }
}

.page .works-content .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .page .works-content .wrap {
    margin-top: 6.5vw;
  }
}

.page .works-content .wrap .img {
  width: 50%;
}

.page .works .slide-arrow {
  position: absolute;
  z-index: 999;
  cursor: pointer;
}

.page .works .next-arrow {
  right: 0;
}

.page .works .next-arrow::before {
  content: '\f061';
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  color: #FBD214;
  font-size: 30px;
}

.page .works .prev-arrow {
  left: 0;
}

.page .works .prev-arrow::before {
  content: '\f060';
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  color: #FBD214;
  font-size: 16px;
  font-size: 30px;
}

.page .skills {
  padding-top: 150px;
}

@media screen and (max-width: 768px) {
  .page .skills {
    padding-top: 13vw;
  }
}

.page .skills__wrapper {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .page .skills__wrapper {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 768px) {
  .page .skills__wrapper {
    max-width: 89.6vw;
  }
}

.page .skills__heading {
  color: #FBD214;
  margin-bottom: 35px;
  font-size: 75px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .page .skills__heading {
    font-size: 9.8vw;
    margin-bottom: 4.6vw;
  }
}

.page .skills__text {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .page .skills__text {
    font-size: 2.9vw;
    margin-bottom: 5.2vw;
  }
}

.page .skills__text-2 {
  font-size: 14px;
  font-weight: 600;
  color: #FBD214;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .page .skills__text-2 {
    font-size: 2.1vw;
    margin-bottom: 2vw;
  }
}

.page .skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page .skills__list li {
  max-width: 100%;
  width: calc(100% /6 - 17px);
  background-color: white;
  border-radius: 5px;
  margin-right: 20px;
  padding: 5px;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .page .skills__list li {
    width: 20.4vw;
    margin-right: 2.6vw;
    padding: 1.3vw;
  }
}

.page .skills__list li:hover {
  -webkit-animation: moveBackground 1s linear forwards;
          animation: moveBackground 1s linear forwards;
  /* Play animation once on hover */
}

@media screen and (max-width: 768px) {
  .page .skills__list li:nth-child(4n+4) {
    margin-right: 0;
  }
}

@media screen and (min-width: 769px) {
  .page .skills__list li:nth-child(6n+6) {
    margin-right: 0;
  }
}

.page .skills__list li:nth-child(n+7) {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .page .skills__list li:nth-child(n+5) {
    margin-top: 2.6vw;
  }
}

.page .skills__list li .img {
  max-width: 100px;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .page .skills__list li .img {
    max-width: 14.3vw;
  }
}

.page .skills__list li .title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #000;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .page .skills__list li .title {
    font-size: 1.953vw;
  }
}

@media screen and (max-width: 768px) {
  .page .skills__list li .title {
    font-size: 2.9vw;
  }
}

.page .skills__list li .bg:hover::after {
  content: attr(data-percent);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* transform: translate(-50%, -50%); */
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page .skills .skill-beginner {
  background-color: #ffcc66;
  /* Example: Red for beginner */
}

.page .skills .skill-intermediate {
  background-color: #ffcc66;
  /* Example: Orange for intermediate */
}

.page .skills .skill-advanced {
  background-color: #ffcc66;
  /* Example: Green for advanced */
}

.page .project {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page .project__heading {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #FBD214;
}

@media screen and (max-width: 768px) {
  .page .project__heading {
    font-size: 3.9vw;
  }
}

.page .project__fig {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.page .project__fig img {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.page .project__fig img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.page .project__text {
  width: 100%;
  margin-bottom: 30px;
  font-size: 13px;
  color: #fff;
  line-height: 1.3;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
}

@media screen and (max-width: 768px) {
  .page .project__text {
    font-size: 2.2vw;
    margin-bottom: 2.6vw;
  }
}

.page .project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page .project__item {
  color: white;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .page .project__item {
    font-size: 2.6vw;
    margin-right: 1.3vw;
  }
}

.page .project__btn {
  margin: auto;
  background-color: white;
  width: 200px;
  height: 60px;
  border: 2px solid #000;
}

.page .project__btn a {
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .page .project__btn a {
    font-size: 4.2vw;
  }
}

.page .project__wrapper {
  position: relative;
  padding: 20px 10px 0 10px;
}

@media screen and (max-width: 768px) {
  .page .project__wrapper {
    padding: 2.6vw 0 0 0;
  }
}

.page .project__links {
  position: absolute;
  top: 20px;
  right: 0;
}

@media screen and (max-width: 768px) {
  .page .project__links {
    font-size: 3.9vw;
    top: 2.6vw;
  }
}

.page .project__links a {
  padding-right: 10px;
}

.page .project__links a:last-child {
  padding: 0;
}

.page .project__links i {
  color: white;
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .page .project__links i {
    font-size: 3.9vw;
  }
}

.page .project__links i:hover {
  color: #FBD214;
}

@media screen and (max-width: 768px) {
  .page .contacts {
    padding-top: 11.7vw;
  }
}

.page .contacts__heading {
  color: #FBD214;
  margin-bottom: 35px;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .page .contacts__heading {
    font-size: 11.7vw;
    margin-bottom: 5.2vw;
  }
}

.page .contacts__text {
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  max-width: 1000px;
  width: 100%;
  margin: auto;
  margin-bottom: 60px;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .page .contacts__text {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .page .contacts__text {
    font-size: 2.9vw;
    margin-bottom: 6.5vw;
  }
}

.page .contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .page .contacts__list {
    margin-bottom: 3.3vw;
  }
}

.page .contacts__item {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .page .contacts__item {
    margin-right: 3.9vw;
  }
}

.page .contacts__item i {
  font-size: 50px;
  color: #FBD214;
}

@media screen and (max-width: 768px) {
  .page .contacts__item i {
    font-size: 13vw;
  }
}

.page .contacts__item:nth-child(4) {
  margin-right: 0;
}

.page .contacts__item:nth-child(4) i:hover {
  opacity: 80%;
  color: #59267c;
  /*Red*/
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.page .contacts__item:nth-child(3) i:hover {
  opacity: 80%;
  color: #3b5998;
  /*Red*/
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.page .contacts__item:nth-child(2) i:hover {
  opacity: 80%;
  color: #0e76a8;
  /*Red*/
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.page .contacts__item:nth-child(1) i:hover {
  opacity: 80%;
  color: #525051;
  /*Red*/
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.page .contacts__wrapper {
  width: 100%;
  max-width: 600px;
  /* Adjust as needed */
  margin: auto;
}

@media screen and (max-width: 768px) {
  .page .contacts__wrapper {
    max-width: 89.6vw;
  }
}

.page .contacts__form {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .page .contacts__form {
    border-radius: 2.6vw;
    padding: 5.2vw;
    -webkit-box-shadow: 0 0 2.6vw rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 2.6vw rgba(0, 0, 0, 0.1);
    margin-bottom: 13vw;
  }
}

.page .contacts .contacts__form label {
  display: block;
  font-size: 13px;
  margin-bottom: 10px;
  color: #333;
}

@media screen and (max-width: 768px) {
  .page .contacts .contacts__form label {
    font-size: 3.4vw;
    margin-bottom: 2.6vw;
  }
}

.page .contacts .contacts__form input,
.page .contacts .contacts__form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #000;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .page .contacts .contacts__form input,
  .page .contacts .contacts__form textarea {
    padding: 2.6vw;
    border-radius: 1.3vw;
    border: 0.3vw solid #000;
    margin-bottom: 5.2vw;
  }
}

.page .contacts .contacts__form button {
  display: block;
  width: 80%;
  margin: auto;
  padding: 10px;
  background-color: #FBD214;
  border: none;
  border-radius: 5px;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

@media screen and (max-width: 768px) {
  .page .contacts .contacts__form button {
    padding: 2.6vw;
    border-radius: 1.3vw;
    font-size: 4.2vw;
  }
}

.page .contacts .contacts__form button:hover {
  background-color: #e0ac1c;
}
/*# sourceMappingURL=style.css.map */